#art {
    margin: 0;
    padding: 0;
}

#art-fig {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4.582vw;
}

.card-1, .card-2 {
    width: 85%;
    height: 18.067vw;
    z-index: 2;
    margin: 0.903vw;
    color: #fff;
    border-radius: 0.903vw;
    box-shadow: 0.181vw 0.181vw 0.813vw 0 rgba(39,39,42,1);
}

.card-1 {
    background-image: url(../img/Artigos/img1.webp);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}



.card-2 {
    background-image: url(../img/Artigos/img2.webp);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}



.card img {
    width: 100%;
    height: 18.067vw;
    margin: 0;
    padding: 0;
}

.autor-card {
    display: flex;
    margin-top: 0.9vw;
    margin-left: 0.452vw;
}

.autor-card span {
    color: #f7f7f7;
    -webkit-text-stroke: 0.02vw #CCCCCC;
    position: relative;
    top: 0.361vw;
    font-size: 1.445vw;
}

.autor-card img {
    display: flex;
    width: 2.71vw;
    height: 2.71vw;
    border-radius: 50%;
    margin-left: 0.452vw;
    justify-content: center;
}

#content-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 1.355vw;
    margin-left: 0.452vw;
}

#content-card a {
    text-decoration: none;
    color: #f7f7f7;
    z-index: 5;
    -webkit-text-stroke: 0.02vw #CCCCCC;
}

#content-card h1 {
    font-size: 2.349vw;
    z-index: 5;
    color: #fff;
    -webkit-text-stroke: 0.02vw #CCCCCC;
}

#content-card span {
    font-size: 1.445vw;
}

.title-art h1 {
    font-size: 4.968vw;
    text-align: center;
}