.content-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #27272a;
    justify-content: flex-start;
    color: #fff;
    align-items: center;
    padding: 0.452vw;
    margin-top: 4.582vw;
}

.links-footer {
    display: flex;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0.452vw;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    border-radius: 0.317vw;
    padding: 0 0.552vw 0 0.552vw;
    margin: 0.152vw;
}

.footer-links a:hover {
    transition: 0.6s ease;
    background-color: #1e90ff;
}

.contact-footer {
    display: flex;
    flex-direction: column;
    margin-left: 13.55vw;
}

.link-bt-contact {
    color: #fff;
    text-decoration: none;
}

#bt-contact {
    height: 3.613vw;
    background-color: #27272a;
    border: 0.09vw #1e90ff solid;
    border-radius: 4.517vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.452vw;
}

#bt-contact:hover {
    transition: 0.6s ease;
    background-color: #1e90ff;
}

#bt-contact svg {
    width: 20%;
    height: 50%;
    margin: 0.452vw;
}

#bt-contact a {
    font-size: 1.807vw;
    margin: 0.452vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}