* {
    font-family: "oswald", sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    /*Centralizando o conteúdo*/
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
}

.content {
    flex-grow: 1;
    display: flex;
}

.tec1 {
    width: 280px;
    font-size: 70px;
    font-weight: bolder;
    display: flex;
    position: relative;
    top: 40px;
    left: 4px;
}

.tec2 {
    font-size: 150px;
    font-weight: bolder;
    display: table;
    position: relative;
    bottom: 40px;
}

.icons {
    z-index: 1;
    display: flex;
    position: relative;
    left: 300px;
    bottom: 14px;
    justify-content: left;
}

.icons svg {
    width: 26px;
    height: 26px;
    color: #28a7ff;
}

.sobre {
    display: flex;
    width: 270px;
    position: relative;
    left: 350px;
    bottom: 45px;
    font-size: 20px;
}
.name {
    position: relative;
    top: 50px;
    left: 8px;
    font-size: 20px;
}

.icons a {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.icons a:hover {
    background-color: #bbd7f8;
    transition: 0.2s;
    border-radius: 10px;
}

nav {
    position: relative;
    bottom: 167px;
    left: 4px;
    width: 290px;
}

nav a {
    font-size: 20px;
    margin: 5px;
    color: #28a7ff;
    text-decoration: none;
    position: relative;
}

.links::before {
    /* ::before: Sublinhado expansivél*/
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #1e90ff; 
    transition: width 0.3s ease, left 0.3s ease;
}

.links:hover::before {
    /* :hover: Sublinhado expansivél*/
    width: 100%;
    left: 0; 
}