
#menu-icon i svg {
    color: #1e90ff;
    width: 2.258vw;
    height: 2.258vw;
    position: relative;
    top: 0.181vw;
}

.menu-nav-icon a {
    font-size: 20px;
    color: #27272a;
    text-decoration: none;
    position: relative;
    padding: 0.488vw;
}

.menu-icon {
  position: fixed;
  bottom: 1.807vw;
  right: 1.807vw;
  width: 4.517vw;
  height: 4.517vw;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s;
  background-color: #ffffff10;
  border: 2px #1e90ff solid;
  z-index: 1000;
}

.menu-icon:hover {
    background-color: #1e90ff90;
    transition: 0.3s ease;
}

#menu-icon:hover svg {
    color: #fff;
    transition: 0.3s ease;
}

.menu-nav-icon {
    position: absolute;
    bottom: 7.227vw;
    left: 85.818vw;
    width: 9.033vw;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0.452vw;
    transform: translateY(10%);
    transition: transform 0.3s;
    visibility: hidden;
    opacity: 1;
}

.menu-nav-icon.expanded {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  background-color: #f7f7f7;
  border: 1px #28a7ff solid;
  box-shadow: 0.181vw 0.181vw 0.813vw 0 rgba(39,39,42,1);
  z-index: 1000;
}

.links-icon {
  text-decoration: none;
  color: #27272a;
}

.links-icon:hover {
    background-color: #28a7ff;
    transition: 0.3s ease;
    color: #fff;
}

.menu-icon:hover .menu-nav-icon {
  transform: translateX(0);
  visibility: visible;
  opacity: 5;
}

.menu-icon:hover .menu-icon i {
  display: none;
}