

.title-proj h1 {
    font-size: 4.968vw;
    text-align: center;
    padding-bottom: 4.582vw;
}

.container-proj {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.582vw;
    padding-top: 0;
    flex-direction: row;
}

.demo_keroacai {
    height: 30vw;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.demo_keroacai img {
    width: 45.167vw;
}

.demo_keroacai figcaption {
    font-size: 1.7vw;
    color: #27272a;
}

.container-proj a {
    text-decoration: none;
}