@media (min-width: 1025px) {
    
 #fechar-popup {
    font-size: 1em;
    width: 6.775vw;
    height: 2.258vw;
 }
}


@media (min-width: 480px) and (max-width: 1024px) {
    /* Estilos para tablets */

    /*  Seção home*/
    #home {
        height: 141vw;
    }
    .tec1 {
        font-size: 9.843vw;
        width: 39.063vw;
        top: 3,91vw;
        left: 0.977vw;
    }

    .tec2 {
        font-size: 20.703vw;
        bottom: 3.906vw;
    }

    .icons {
        left: 41.113vw;
        bottom: 2.734vw;
    }

    .icons svg {
        width: 4.883vw;
        height: 3.906vw;
        margin: 0,489vw;
    }

    .icons a {
        width: 4.883vw;
        height: 0;
    }
    .sobre {
        width: 41.393vw;
        left: 42.213vw;
        bottom: 3.399vw;
        font-size: 2.955vw;
    }

    .name {
        top: 4.88vw;
        left: 1.7vw;
        font-size: 3.223vw;
    }

    .icons a {
        margin: 0.489vw;
        width: 3.421vw;
        height: 3.421vw;
    }

    nav {
        bottom: 21.324vw;
        left: 0.391vw;
        width: 38.348vw;
    }

    nav a {
        font-size: 2.955vw;
        margin: 0.244vw;
    }

     /*seção sobre*/

     #sobre {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
     }

     #sobre figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 51vw;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
     }

     #sobre #img {
        width: 32.067vw;
        height: 32.067vw;
        border-radius: 50%;
        border: 0.488vw #27272a solid;
        margin: 0.488vw;
     }

     #sobre figure figcaption {
        width: 33vw;
     }

     #sobre figure figcaption h1 {
        font-size: 4.168vw;
        text-align: center;
     }

     #sobre .txt-sobre {
        width: 86.234vw;
        font-size: 2.807vw;
        margin-bottom: 3.452vw;
     }

     #sobre .contact {
        justify-content: space-evenly;
        margin: 0.488vw;
     }

     #sobre .contact a {
        margin: 0.44vw;
        margin: 0.44vw;
        width: 8.349vw;
        height: 8.349vw;
        border: 0.381vw #27272a solid;
     }

     #sobre .contact svg {
        width: 5.349vw;
        height: 5.349vw;
     }

     #sobre .titulo {
        font-size: 5.968vw;
        margin-top: 5.371vw;
     }

     /* Seção Tec*/

     #section-tec .title-tec p {
        font-size: 2.807vw;
     }

     #section-tec .title-tec {
        margin-top: 0;
        margin-bottom: 2.355vw;
     }

     #tec-html {
        font-size: 2.68vw;
     }

     #tec-css {
        font-size: 2.68vw;
     }

     #tec-js {
        font-size: 2.68vw;
     }

     #tec-php {
        font-size: 2.68vw;
     }

     /*Seção art*/

     #art .title-art h1 {
        margin-top: 5.371vw;
        font-size: 4.968vw;
     }

     #art .cards {
        flex-direction: column;
        padding: 6.582vw;
     }

     #art .card-1 {
        width: 103%;
        height: 29.067vw;
        margin: 1.903vw;
        border-radius: 1.903vw;
        box-shadow: 0.181vw 0.181vw 1.813vw 0 rgba(39,39,42,1);
     }

     #art .card-2 {
        width: 103%;
        height: 29.067vw;
        margin: 1.903vw;
        border-radius: 1.903vw;
        box-shadow: 0.181vw 0.181vw 1.813vw 0 rgba(39,39,42,1);
     }

     #art .autor-card {
        margin-top: 2.9vw;
        margin-left: 2.452vw;
     }

     #art .autor-card span {
        font-size: 2.355vw;
     }

     #art .autor-card img {
        width: 4.71vw;
        height: 4.71vw;
        margin-left: 1.452vw;
     }

     #art #content-card a {
        margin-top: 0.355vw;
        margin-left: 2.452vw;
     }

     #art #content-card h1 {
        font-size: 4.349vw;
     }

     #art #content-card span {
        font-size: 2.445vw;
     }

     /*Seção proj*/

     #proj .card-proj {
        width: 30.584vw;
        height: 48.134vw;
        border-radius: 1.963vw;
     }

     #proj .desc-proj {
        width: 27.68vw;
        margin: auto;
        margin-bottom: 1.355vw;
     }

     #proj .desc-proj h1 {
        font-size: 3.349vw;
     }

     #proj .desc-proj span {
        font-size: 2.445vw;
        display: block;  
     }

     /*Seção footer*/
     #content-footer .footer-links a {
        font-size: 2.441vw;
        padding: 0 1.552vw 0 1.552vw;
     }

     label {
        font-size: 2.441vw;
     }

     #content-footer #bt-contact {
        height: 6.613vw;
        width: 20.613vw;
     }

     #content-footer #bt-contact a {
        font-size: 2.441vw;
     }

     #content-footer #bt-contact svg {
        width: 25%;
        height: 55%;
     }

     #content-footer .copyright {
        font-size: 2.441vw;;
     }

     /*BT menu flut*/
     #menu-icon {
        position: fixed;
        bottom: 4.807vw;
        right: 4.807vw;
        width: 7.517vw;
        height: 7.517vw;
        border: 0.395vw #1e90ff solid;
     }

     #menu-icon .icon svg {
        width: 5.258vw;
        height: 5.258vw;
     }

     .menu-nav-icon.expanded {
        position: absolute;
        bottom: 13.227vw;
        left: 74.818vw;
        width: 15.033vw;
        border: 0.098vw #28a7ff solid;
     }

     #menu-nav-icon a {
        font-size: 2.441vw;
        padding: 0.488vw;
     }

     /*Popup*/
     #popup-menu {
        width: 80vw;
        border: 0.45vw solid rgb(40, 167, 255);
     }

     #popup-menu ul {
        font-size: 1.5em;
        padding: 1.465vw;
     }
     
     #popup-menu h2 {
        font-size: 5.5vw;
     }

     #popup-menu button {
        width: 11.775vw;
        height: 8.258vw;
        font-size: 2.5em;
     }

    }

  @media (max-width: 479px) {
    /* Estilos para celulares */

    /*seção home*/

    .tec1 {
        font-size: 7.438vw;
        width: 58.455vw;
        top: 6.351vw;
        left: 0.835vw
    }

    .tec2 {
        font-size: 16.701vw;;
        bottom: 8.351vw;
    }

    .icons {
        left: 31.754vw;
        bottom: 2.088vw;
    }

    .icons svg {
        width: 4.593vw;
        height: 4.593vw;
    }

    .sobre {
        width: 62.63vw;
        left: 3vw;
        bottom: 0.395vw;
        font-size: 4.175vw;
    }

    .name {
        top: 8.438vw;
        left: 0.9vw;
        font-size: 3vw;
    }

    .icons a {
        margin: 0;
        width: 7vw;
        height: 7vw;
    }

    nav {
        bottom: 34.864vw;
        left: 0.835vw;
        width: 60.543vw;
        display: flex;
        justify-content: center;
    }

    nav a {
        font-size: 4.175vw;
        margin: 1.044vw;
    }
    
    
     /*seção sobre*/

     #sobre {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
     }

     #sobre figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 77vw;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
     }

     #sobre #img {
        width: 50.067vw;
        height: 50.067vw;
        border-radius: 50%;
        border: 0.888vw #27272a solid;
        margin: 0.488vw;
     }

     #sobre figure figcaption {
        width: 52vw;
     }

     #sobre figure figcaption h1 {
        font-size: 7.168vw;
        text-align: center;
     }

     #sobre .txt-sobre {
        width: 96.234vw;
        font-size: 4.807vw;
        margin-bottom: 7.452vw;
     }

     #sobre .contact {
        justify-content: space-evenly;
        margin: 0.488vw;
     }

     #sobre .contact a {
        margin: 0.144vw;
        width: 12.349vw;
        height: 12.349vw;
        border: 0.381vw #27272a solid;
     }

     #sobre .contact svg {
        width: 7.349vw;
        height: 7.349vw;
     }

     #sobre .txt-sobre .titulo {
        font-size: 6.968vw;
        margin-top: 2.371vw;
     }

     /* Seção Tec*/

     #section-tec .title-tec p {
        font-size: 4.807vw;
     }

     #section-tec .title-tec {
        margin-top: 0;
        margin-bottom: 5.355vw;
     }

     #tec-html {
        font-size: 2.68vw;
     }

     #tec-css {
        font-size: 2.68vw;
     }

     #tec-js {
        font-size: 2.68vw;
     }

     #tec-php {
        font-size: 2.68vw;
     }

     /*Seção art*/

     #art .title-art h1 {
        margin-top: 5.371vw;
        font-size: 6.968vw;
     }

     #art .cards {
        flex-direction: column;
        padding: 6.582vw;
     }

     #art .card-1 {
        width: 103%;
        height: 29.067vw;
        margin: 1.903vw;
        border-radius: 1.903vw;
        box-shadow: 0.181vw 0.181vw 1.813vw 0 rgba(39,39,42,1);
     }

     #art .card-2 {
        width: 103%;
        height: 29.067vw;
        margin: 1.903vw;
        border-radius: 1.903vw;
        box-shadow: 0.181vw 0.181vw 1.813vw 0 rgba(39,39,42,1);
     }

     #art .autor-card {
        margin-top: 2.9vw;
        margin-left: 2.452vw;
     }

     #art .autor-card span {
        font-size: 2.355vw;
     }

     #art .autor-card img {
        width: 4.71vw;
        height: 4.71vw;
        margin-left: 1.452vw;
     }

     #art #content-card a {
        margin-top: 0.355vw;
        margin-left: 2.452vw;
     }

     #art #content-card h1 {
        font-size: 4.349vw;
     }

     #art #content-card span {
        font-size: 2.445vw;
     }

     /*Seção proj*/

     #proj .title-proj h1 {
        font-size: 6.968vw;
     }

     #proj .card-proj {
        width: 30.584vw;
        height: 48.134vw;
        border-radius: 1.963vw;
     }

     #proj .desc-proj {
        width: 27.68vw;
        margin: auto;
        margin-bottom: 1.355vw;
     }

     #proj .desc-proj h1 {
        font-size: 3.349vw;
     }

     #proj .desc-proj span {
        font-size: 2.445vw;
        display: block;  
     }

     /*Seção footer*/
     #content-footer .footer-links a {
        font-size: 2.441vw;
        padding: 0 1.552vw 0 1.552vw;
     }

     label {
        font-size: 2.441vw;
     }

     #content-footer #bt-contact {
        height: 6.613vw;
        width: 20.613vw;
     }

     #content-footer #bt-contact a {
        font-size: 2.441vw;
     }

     #content-footer #bt-contact svg {
        width: 25%;
        height: 55%;
     }

     #content-footer .copyright {
        font-size: 2.441vw;;
     }

     /*BT menu flut*/
     #menu-icon {
        position: fixed;
        bottom: 4.807vw;
        right: 4.807vw;
        width: 10.517vw;
        height: 10.517vw;
        border: 0.395vw #1e90ff solid;
     }

     #menu-icon .icon svg {
        width: 12.258vw;
        height: 6.258vw;
        position: relative;
        top: 0.485vw;
     }

     .menu-nav-icon.expanded {
        position: absolute;
        bottom: 15.227vw;
        left: 47.818vw;
        width: 38.033vw;
        border: 0.098vw #28a7ff solid;
     }

     #menu-nav-icon a {
        font-size: 6.441vw;
        padding: 1.488vw;
     }

     /*Popup*/
     #popup-menu {
        width: 80vw;
        border: 0.45vw solid rgb(40, 167, 255);
     }

     #popup-menu ul {
        font-size: 1.5em;
        padding: 1.465vw;
     }
     
     #popup-menu h2 {
        font-size: 5.5vw;
     }

     #popup-menu button {
        width: 11.775vw;
        height: 8.258vw;
        font-size: 2.5em;
     }

  }
