@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets */

    /*  Seção home*/
    #home {
        margin-bottom: 5.371vw;
    }
    .tec1 {
        font-size: 9.843vw;
        width: 39.063vw;
        top: 3,91vw;
        left: 0.977vw;
    }

    .tec2 {
        font-size: 20.703vw;
        bottom: 3.906vw;
    }

    .icons {
        left: 41.113vw;
        bottom: 2.734vw;
    }

    .icons svg {
        width: 4.883vw;
        height: 3.906vw;
        margin: 0,489vw;
    }

    .icons a {
        width: 4.883vw;
        height: 0;
    }
    .sobre {
        width: 41.393vw;
        left: 42.213vw;
        bottom: 3.399vw;
        font-size: 2.955vw;
    }

    .name {
        top: 4.88vw;
        left: 1.7vw;
        font-size: 3.223vw;
    }

    .icons a {
        margin: 0.489vw;
        width: 3.421vw;
        height: 3.421vw;
    }

    nav {
        bottom: 21.324vw;
        left: 0.391vw;
        width: 38.348vw;
    }

    nav a {
        font-size: 2.955vw;
        margin: 0.244vw;
    }

     /*seção sobre*/

     #sobre {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
     }

     #sobre figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
     }

     #sobre #img {
        width: 23.067vw;
        height: 23.067vw;
        border-radius: 50%;
        border: 0.488vw #27272a solid;
     }

     #sobre figure figcaption h1 {
        font-size: 3.168vw;
     }

     #sobre .txt-sobre {
        width: 86.234vw;
        font-size: 2.807vw;
        margin-bottom: 3.452vw;
     }

     #sobre .contact a {
        margin: 0.44vw;
        width: 6.349vw;
        height: 6.349vw;
     }

     #sobre .contact svg {
        width: 4.349vw;
        height: 4.349vw;
     }

     #sobre .titulo {
        font-size: 5.968vw;
        margin-top: 5.371vw;
     }

     /* Seção Tec*/

     #section-tec .title-tec p {
        font-size: 2.807vw;
     }

     #section-tec .title-tec {
        margin-top: 0;
        margin-bottom: 2.355vw;
     }

     #tec-html {
        font-size: 2.68vw;
     }

     #tec-css {
        font-size: 2.68vw;
     }

     #tec-js {
        font-size: 2.68vw;
     }

     #tec-php {
        font-size: 2.68vw;
     }

     /*Seção art*/

     #art .title-art h1 {
        margin-top: 5.371vw;
        font-size: 4.968vw;
     }

     #art .cards {
        flex-direction: column;
        padding: 6.582vw;
     }

     #art .card-1 {
        width: 103%;
        height: 29.067vw;
        margin: 1.903vw;
        border-radius: 1.903vw;
        box-shadow: 0.181vw 0.181vw 1.813vw 0 rgba(39,39,42,1);
     }

     #art .card-2 {
        width: 103%;
        height: 29.067vw;
        margin: 1.903vw;
        border-radius: 1.903vw;
        box-shadow: 0.181vw 0.181vw 1.813vw 0 rgba(39,39,42,1);
     }

     #art .autor-card {
        margin-top: 2.9vw;
        margin-left: 2.452vw;
     }

     #art .autor-card span {
        font-size: 2.355vw;
     }

     #art .autor-card img {
        width: 4.71vw;
        height: 4.71vw;
        margin-left: 1.452vw;
     }

     #art #content-card a {
        margin-top: 0.355vw;
        margin-left: 2.452vw;
     }

     #art #content-card h1 {
        font-size: 4.349vw;
     }

     #art #content-card span {
        font-size: 2.445vw;
     }
    }

@media (min-width: 480px) and (max-width: 767px) {
        /* Estilos médios */

        .tec1 {
            font-size: 9.126vw;
            width: 36.506vw;
            top: 5.215vw;
            left: 0.522vw;
        }
    
        .tec2 {
            font-size: 19.557vw;
            bottom: 5.215vw;
        }
    
        .icons {
            left: 39.113vw;
            bottom: 1.825vw;
        }
    
        .icons svg {
            width: 3.39vw;
            height: 3.39vw;
        }
    
        .sobre {
            width: 35.202vw;
            left: 45.632vw;
            bottom: 5.867vw;
            font-size: 2.608vw;
        }
    
        .name {
            top: 6.519px;
            left: 1.043;
            font-size: 2.608vw;
        }
    
        .icons a {
            margin: 0.652vw;
            width: 4.563vw;
            height: 4.563vw;
        }
    
        nav {
            bottom: 21.773vw;
            left: 0.522vw;
            width: 37.81vw;
        }
    
        nav a {
            font-size: 2.608vw;
            margin: 0.326vw;
        }
    
    }
    

  @media (max-width: 479px) {
    /* Estilos para celulares */

    .tec1 {
        font-size: 7.438vw;
        width: 58.455vw;
        top: 6.351vw;
        left: 0.835vw
    }

    .tec2 {
        font-size: 16.701vw;;
        bottom: 8.351vw;
    }

    .icons {
        left: 31.754vw;
        bottom: 2.088vw;
    }

    .icons svg {
        width: 4.593vw;
        height: 4.593vw;
    }

    .sobre {
        width: 62.63vw;
        left: 3vw;
        bottom: 0.395vw;
        font-size: 4.175vw;
    }

    .name {
        top: 8.438vw;
        left: 0.9vw;
        font-size: 3vw;
    }

    .icons a {
        margin: 0;
        width: 7vw;
        height: 7vw;
    }

    nav {
        bottom: 34.864vw;
        left: 0.835vw;
        width: 60.543vw;
        display: flex;
        justify-content: center;
    }

    nav a {
        font-size: 4.175vw;
        margin: 1.044vw;
    }
    
  }
