.tec-config {
    width: 9.933vw;
    height: 9.933vw;
    margin: 1.355vw;
}

.tec-config:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
  }

.container-tec {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tec {
    display: flex;
    margin: 1.355vw;
}

#tec-html {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 2.168vw;
    border-radius: 1.355vw;
    background-color: #ef6026;
    color: #fff;
}

#tec-css {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 2.529vw;
    border-radius: 1.355vw;
    background-color: #25a1e1;
    color: #fff;
}

#tec-js {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    font-size: 3.162vw;
    border-radius: 1.355vw;
    background-color: #f0db4e;
    color: #000;
}

#tec-php {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.168vw;
    border-radius: 9.033vw 2.258vw;
    border: 0.181vw #333 solid;
    background-color: #767bb3;
    color: #000;
}

.txt-tec {
    margin: 0 0.452vw;
}

#txt-tec-php {
    -webkit-text-stroke: 0.09vw #fff;
}

#tec-figman {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1e1e1e;
    border-radius: 1.355vw;
    flex-wrap: wrap;
    align-content: center;
}


.tech-figman-balls {
    width: 2.258vw;
    height: 2.258vw;
    border-radius: 50%;
    display: inline;
  }
  

  #ballsL {
    position: relative;
    top: 1.355vw;
    border-radius: 50% 0 0 50%;
    background-color: #e15a32;
  }
  
  #ballsR {
    position: relative;
    left: 2.258vw;
    bottom: 0.933vw;
    border-radius: 0 50% 50% 0;
    background-color: #ee7969;
  }
  
  #ballsRO {
    position: relative;
    bottom: 0.903vw;
    border-radius: 50% 0 0 50%;
    background-color: #985cf5;
}
  
  #ballsA {
    position: relative;
    top: 0.271vw;
    background-color: #57b9f7;
  }
  
  #ballsV {
    position: relative;
    bottom: 0.903vw;
    border-radius: 50% 0 50% 50%;
    background-color: #5ecc89;
}

#tec-uiux {
    display: flex;
    justify-content: center;
    align-items: center;
}

#uiux {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.878vw;
    height: 4.878vw;
    border-radius: 50%;
}

.ux h1, .ui h1 {
    color: #000;
    font-size: 2.62vw;
    font-weight: 400;
}

.ux {
    position: relative;
    left: 0.632vw;
    background-color: #eb5e03;
    z-index: 1;
}

.ux h1 {
    color: #fff;
}

.ui {
    position: relative;
    right: 0.632vw;
    background-color: #ffcf00;
}

.title-tec {
    margin-top: 2.258vw;
    margin-bottom: 1.355vw;
}

.title-tec h1 {
    font-size: 4.968vw;
    text-align: center;
}

.title-tec p {
    text-align: center;
    font-size: 1.807vw;
    color: #56565f
}